<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
<div class="box">
  <br>
  <div class="name">
      <h1>JANET ZANGO</h1>
  </div>
 <hr class="line">
<br>
<br>
<div class="app">
    <h4>APP DEVELOPER</h4>
</div>
</div>
<div class="sbox">
  <div class="Experience">
      <h2 style="color :black">Experience</h2>
  </div>
</div>
<div class="rightbox">
    <img class="image" src="../assets/me.jpg" width="150px" height="160px">
    <div class="contact">
      <h2 style="color :black">Contact</h2>
      
    </div>
   
    <div>   
       <i class="fa fa-phone">0719132689</i>
        <br>
        <br>
             <i class="fa fa-envelope">janetzango@gmail.com</i> 
           <br>
           <br>
           <i class="fa fa-envelope">janetzango54@gmail.com</i>
    </div>
      
    <br>
    <br>
    <br>
    <br>
    <br>
<div class="education">
    <h2 style="color :black">Education</h2>
</div>      
        <p>2000-2012</p>
          <p>Zakarriya Park Combied School</p>
    <br>
    <br>
   
    <p>2013-2017</p>
    <p>Vaal University of Technology</p>
    <p>Information Technology</p>
  <br>
  <br>
  <div class=skills>
      <h2 style="color :black">Skills</h2>
   <ul>
    <li>Database Acces</li>
    <li>creating webistes using html and css</li>
    <li>Creating froms using angular</li>
   </ul>
  </div>



</div>

<div class="infor">
  <div class="left">
      <small>2017-2018</small>
      <h3>Soweto Ekasi Lab</h3>
      <div class="Soweto">
          <h4>App Developer</h4>
      </div>
       <ul>
         <li>Creating cv </li>
         <li>Creating/developing website</li>
         <li>Developing mobile Apps</li>
       </ul>
    <br>
    <br>
    <br>
    <div>
        <small>2014-2017</small>
        <h3>Vaal Technology</h3>
        <h4>Vut Projects</h4>
        <ul>
          <li>designing project using pl/sql language</li>
          <li>design and develp a project using sql language</li>
          <li>develping a database/visual studio using Ado</li>
          <li>desgining websites using the Html/css language</li> 
        </ul>
    </div>
       

  </div>
</div>

</body>




